<div class="row wrapper border-bottom white-bg page-heading" ng-init="init()">
    <div class="col-sm-12">
        <h2>View Jobs List</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRightBig">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>View Jobs</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                               
                                <div class="col-sm-3 pull-right">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search" class="input-sm form-control"> 
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>

                                        <th></th>
                                        <th>Company</th>
                                        <th>Expire Date</th>
                                        <th>Updated At</th>
                                        <th>View/Edit</th>
                                        <th>Delete</th>
                                        <th>Move to recent</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="eachJob in jobList | orderBy:'updatedBy'">
                                        <td>
                                            <!--<input type="checkbox"  checked class="i-checks">-->
                                        </td>
                                        <td>{{eachJob.get("_company").get("name")}}</td>
                                        <td>{{eachJob.get("dateTime") | date:'medium'}}</td>
                                        <td>{{eachJob.get("updatedAt") | date:'medium'}}</td>
                                        <td>
                                            <a href="#/data/upsert/{{eachJob.get('id')}}">
                                            <i class="fa fa-check text-navy"></i>
                                                View/Edit
                                            </a>
                                        </td>
                                         <td>
                                            <a ng-click="deleteJob(eachJob)" style="color:red;cursor:pointer;" >
                                            <i class="fa fa-check text-navy"></i>
                                                Delete
                                            </a>
                                        </td>
                                         <td>
                                            <a ng-click="shuffleToRecent(eachJob)" style="color:green;cursor:pointer;">
                                            <i class="fa fa-check text-navy"></i>
                                                Move to recent
                                            </a>
                                        </td>                                       
                                    </tr>                                   

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
