<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>View SMS Sent List</h2>

    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRightBig">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>SMS List</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                               
                                <div class="col-sm-3 pull-right">
                                    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>

                                        <th></th>
                                        <th>Mobile Number</th>
                                        <th>Status</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox"  checked class="i-checks">
                                        </td>
                                        <td>9000778245</td>
                                        <td><span style="background-color:green;padding:2px;color:white;">Sent</span></td>
                                                                               
                                    </tr>

                                    <tr>
                                        <td>
                                            <input type="checkbox"  checked class="i-checks">
                                        </td>
                                        <td>9000778245</td>
                                        <td><span style="background-color:yellow;padding:2px;color:white;">Pending</span></td>
                                                                               
                                    </tr>                                    

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
