<div class="row wrapper border-bottom white-bg page-heading" ng-init="init()">
    <div class="col-sm-12">
        <h2>The Search</h2>
    </div>
</div>

<!--Error or result-->
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRightBig">
                <div ng-if="searchedJobList" class="col-lg-6">
                    {{searchResults}}
                </div>
            </div>
        </div>
    </div>
</div>                    

<!--Search-->
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRightBig">
                <div class="col-lg-6">
                    <div class="inner-div bg-color-white all-filters-list">
                        <!--row-->
                        <div class="row inner-div3">
                            <div class="col-md-12">
                                <div>
                                    <p class="fg-color-black search-filter-title">LOCATION</p>
                                </div>
                                <div class="megaFilterBx">
                                    <div class="searchBx searchBx-marginTop8 cf">
                                        <div style="100%;">
                                            <input ng-model="$scope.searchByLocation" g-places-autocomplete class="search-input" type="text"  placeholder="Search Location">
                                            <i class="fa fa-search search-input-i"></i>
                                            <hr class="underline">
                                        </div>
                                                      
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>

                    <div class="inner-div bg-color-white all-filters-list"  style="margin-top:20px;">
                        <!--row-->
                        <div class="row inner-div3">
                            <div class="col-md-12">
                                <div>
                                    <p class="fg-color-black search-filter-title">GRADUATION YEAR</p>
                                </div>
                                 <div class="megaFilterBx">                
                                    <div class="searchBx searchBx-marginTop8 cf default-vals-short-div">
                                          <ul class="search-list-ul">
                                            <li ng-click="filterGradYear($index)" ng-repeat="gYear in staticGraduationYearList | orderBy:'value':true">      
                                                <div>
                                                    <span class="def-simple-vals">{{gYear.value}}</span>
                                                </div>                    
                                            </li>                        
                                          </ul>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>

                    <div class="inner-div bg-color-white all-filters-list" style="margin-top:20px;">
                        <!--row-->
                        <div class="row inner-div3">
                            <div class="col-md-12">
                                <div>
                                    <p class="fg-color-black search-filter-title">DEGREE NAME</p>
                                </div>
                                <div class="megaFilterBx">                
                                    <div class="searchBx searchBx-marginTop8 cf default-vals-short-div">  
                                        <ul class="search-list-ul">
                                            <li ng-repeat="dName in staticDegreeNameList" ng-click="filterDegreeName($index)">                          
                                                <div><span class="def-simple-vals">{{dName.text}}</span></div>                    
                                            </li> 
                                                                     
                                        </ul>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <div class="inner-div bg-color-white all-filters-list"  style="margin-top:20px;">
                        <!--row-->
                        <div class="row inner-div3">
                            <div class="col-md-12">
                                <div>
                                    <p class="fg-color-black search-filter-title">DESIGNATION</p>
                                </div>
                                <div class="megaFilterBx">                
                                    <div class="searchBx searchBx-marginTop8 cf default-vals-vshort-div">                   
                                        <ul class="search-list-ul">
                                            <li ng-repeat="dName in staticDesignationNameList" ng-click="filterDesignation($index)">                          
                                                <div><span class="def-simple-vals">{{dName.text}}</span></div>          
                                            </li> 
                                                                                                                  
                                        </ul>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <div class="inner-div bg-color-white all-filters-list"  style="margin-top:20px;">
                        <!--row-->
                        <div class="row inner-div3">
                            <div class="col-md-12">
                                <div>
                                    <p class="fg-color-black search-filter-title">EXPERIENCE</p>
                                </div>
                               <div class="megaFilterBx">
                
                                    <div class="searchBx searchBx-marginTop8 cf default-vals-short-div">             

                                        <ul class="search-list-ul">
                                            <li ng-repeat="exp in staticExperienceList" ng-click="filterExperience($index)">                          
                                                <div><span class="def-simple-vals">{{exp.text}}</span></div>          
                                            </li>                                       
                                        </ul> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                </div>
                <!--NEXT COLUMN-->
                <div class="col-lg-6">
                   <div class="inner-div bg-color-white all-filters-list">
                     <!--row-->
                    <div class="row inner-div3">
                        <div class="col-md-12">
                            <div>
                                <p class="fg-color-black search-filter-title">DATETIME</p>
                            </div>
                            <div class="megaFilterBx">
                                <div class="searchBx searchBx-marginTop8 cf">
                                    <div style="100%;">                      
                                        <input ng-model="$parent.filDateTime" ng-change="filterDateTime()" kendo-date-time-picker placeholder="Date&Time" class="datetime-input"/>
                                    </div>
                                                  
                                </div>               
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                    </div>
                <div class="inner-div bg-color-white all-filters-list" style="margin-top:20px;">
                    <!--row-->
                    <div class="row inner-div3">
                        <div class="col-md-12">
                            <div>
                                <p class="fg-color-black search-filter-title">ACADEMIC PERCENTAGE</p>
                            </div>
                           <div class="megaFilterBx">                
                                <div class="searchBx searchBx-marginTop8 cf default-vals-short-div">  
                                      <ul class="search-list-ul">
                                        <li ng-repeat="aGrade in staticAcademicGradesList" ng-click="filterAcademicPercentage($index)">                          
                                            <div><span class="def-simple-vals">{{aGrade.text}}</span></div>                    
                                        </li> 
                                         
                                      </ul>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <div class="inner-div bg-color-white all-filters-list"  style="margin-top:20px;">
                    <!--row-->
                    <div class="row inner-div3">
                        <div class="col-md-12">
                            <div>
                                <p class="fg-color-black search-filter-title">INTERVIEW TYPE</p>
                            </div>
                           <div class="megaFilterBx">                
                                <div class="searchBx searchBx-marginTop8 cf default-vals-vshort-div">                  
                                    <ul class="search-list-ul">
                                        <li ng-repeat="iType in interviewTypeList" ng-click="filterInterviewType(index)">                          
                                            <div><span class="def-simple-vals">{{iType.get("name")}}</span></div>                    
                                        </li>                      
                                                                  
                                    </ul>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <div class="inner-div bg-color-white all-filters-list"  style="margin-top:20px;">
                        <!--row-->
                        <div class="row inner-div3">
                            <div class="col-md-12">
                                <div>
                                    <p class="fg-color-black search-filter-title">SKILLS</p>
                                </div>
                                <div class="megaFilterBx">
                
                                    <div class="searchBx searchBx-marginTop8 cf default-vals-div">
                                          <table class="search-list-table" cellspacing="10">
                                            <tr ng-repeat="skill in staticSkillList">    
                                                <td>
                                                    <div class="search-checkbx-wrapper">
                                                        <checkbox class="search-checkbxz" ng-model="skill.checked" ng-change="filterSkills($index)"></checkbox>
                                                    </div>
                                                </td>                      
                                                <td><span class="def-simple-vals">{{skill.text}}</span></td>                    
                                            </tr>
                                                                 
                                          </table>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <div class="inner-div bg-color-white all-filters-list"  style="margin-top:20px;">
                        <!--row-->
                        <div class="row inner-div3">
                            <div class="col-md-12">
                                <div>
                                    <p class="fg-color-black search-filter-title">SECTOR TYPE</p>
                                </div>
                               <div class="megaFilterBx">
                
                                    <div class="searchBx searchBx-marginTop8 cf default-vals-vshort-div">
                                        <ul class="search-list-ul">
                                            <li ng-repeat="cIndustry in companyIndustryList" ng-click="filterSectorType($index)">                          
                                                <div><span class="def-simple-vals">{{cIndustry.get("name")}}</span></div>                    
                                            </li>                                                                        
                                        </ul>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <div class="inner-div bg-color-white all-filters-list"  style="margin-top:20px;">
                        <!--row-->
                        <div class="row inner-div3">
                            <div class="col-md-12">
                                <div>
                                    <p class="fg-color-black search-filter-title">COMPANY NAME</p>
                                </div>
                                 <div class="megaFilterBx">
                                    <!--<div class="searchBx searchBx-marginTop8 cf">
                                        <div style="100%;">
                                            <input class="search-input" type="text"  placeholder="Search Company">
                                            <i class="fa fa-search search-input-i"></i>
                                            <hr class="underline">
                                        </div>
                                                      
                                    </div>-->
                                    <div class="default-vals-div">
                                        <ul class="search-list-ul">
                                            <li ng-repeat="cName in staticCompanyNameList" ng-click="filterCompany($index)"> 
                                                <div><span class="def-simple-vals">{{cName.text}}</span></div>          
                                            </li>                                                                          
                                        </ul>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                </div>
            </div>
            <div class="row" style="background-color:white;margin-top:20px;padding:20px;">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <button type="button" ng-click="searchDeGrande()" class="btn btn-primary"> SEARCH</button>
                    </div>    
                </div>
            </div>        
        </div>
    </div>
</div>
