<!--Filter row-->
<!--
<div class="col-md-3" ng-include="'app/views/common/filters.html'">
</div>-->
<div class="col-md-3">
</div>

<div class="col-md-5" ng-init="init()">
    <!--Smart Input Widget-->
    <div class="row">
        <div class="bg-color-white" style="border:1px solid #B8B8B8; width:100%; padding:0.5px;">
            <!--partial view-->
            <div ng-hide="openFullForm" ng-click="kuljaSimSim($event)">
                <div class="smartWidget-Input">
                    <input type="text" name="fname" placeholder="Post a job here for free"
                           style="font-size:16px; color:black;">
                </div>
            </div>
            <!--/partial view-->

            <div id="app-full-form" role="tabpanel" ng-show="openFullForm">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" ng-click="setCategory($event, 'home');"
                           aria-controls="home" role="tab" data-toggle="tab">Job</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" ng-click="setCategory($event, 'profile')"
                           aria-controls="profile" role="tab" data-toggle="tab">Company</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active sw-tablePanel-minheight" id="home">
                        <!--Open up form-->
                        <div>
                            <div class="smartWidget-Input">
                                <input type="text" name="name" placeholder="Company Name" data-toggle="tooltip" data-placement="right" title="Company Name">
                            </div>
                            <div class="smartWidget-Input">
                                <input type="text" name="title" placeholder="Job Title" data-toggle="tooltip" data-placement="right" title="Job Title">
                            </div>
                            <div class="smartWidget-Input">
                                <textarea msd-elastic ng-model="description" data-toggle="tooltip" data-placement="right" title="Describe this job"
                                          placeholder="Describe this job, education,skills"></textarea>
                            </div>
                            <div class="smartWidget-Input">
                                <input type="text" name="location" placeholder="Location" ng-model="postLocation"
                                       typeahead="address for address in getLocation($viewValue)" typeahead-min-length="3" typeahead-wait-ms="500" data-toggle="tooltip" data-placement="right" title="Location">
                            </div>
                            <div class="smartWidget-Input">
                                <input type="text" name="mail" placeholder="Resume to(email)" data-toggle="tooltip" data-placement="right" title="Resume to(email)">
                            </div>
                            <div style="display: none" id="add-logo">
                                <div><input type="file" id="logo-input" style="display:none"/></div>
                                <div class="cropArea" style="display: none;">
                                    <img-crop image="myLogo" area-type="square" result-image="myCroppedLogo"></img-crop>
                                </div>
                                <div style="position: relative">
                                    <img id="selected-logo" style="height: 100px; margin: 5px;" ng-src="{{myCroppedLogo}}"/>
                                    <div style="position: absolute; top: 5px; left: 90px; color: #fff;" ng-click="clearLogo()">X</div>
                                </div>
                            </div>
                            <div class="smartWidget-Input" style="display: none" id="add-link">
                                <input type="text" name="link" placeholder="Apply Link" ng-model="form.addLink" ng-model-options="{ updateOn: 'blur' }" data-toggle="tooltip" data-placement="right" title="Apply Link">
                            </div>
                            <div class="searchBx" style="display: none" id="add-date-time" data-toggle="tooltip" data-placement="right" title="Date&Time">
                                <input kendo-date-picker style="width: 79%" placeholder="Date" ng-model="form.date" ng-model-options="{ updateOn: 'blur' }"/>
                                <input kendo-time-picker style="width: 20%;" placeholder="Time" ng-model="form.time" ng-model-options="{ updateOn: 'blur' }"/>
                            </div>
                            <div class="smartWidget-Input" style="display: none" id="add-phone">
                                <input type="text" name="phone" placeholder="Add Phone" ng-model="form.phone" ng-model-options="{ updateOn: 'blur' }" data-toggle="tooltip" data-placement="right" title="Add Phone">
                            </div>
                            <div class="smartWidget-Input" style="display: none" id="add-experience">
                                <select placeholder="Add experience" ng-model="form.experience" ng-model-options="{ updateOn: 'blur' }" data-toggle="tooltip" data-placement="right" title="Add experience">
                                    <option value="">Add experience</option>
                                    <option value="1">1year</option>
                                    <option value="2">2 years</option>
                                </select>
                            </div>
                            <div class="smartWidget-Input" style="display: none" id="add-job-type">
                                <select placeholder="job type" ng-model="form.jobType" ng-model-options="{ updateOn: 'blur' }" data-toggle="tooltip" data-placement="right" title="Job type">
                                    <option value="">Company type</option>
                                    <option value="volvo">Inter</option>
                                    <option value="saab">IT</option>
                                    <option value="saab">Hardware</option>
                                </select>
                            </div>
                            <div class="smartWidget-Input" style="display: none" id="add-interview-type">
                                <select placeholder="interview type" ng-model="form.interviewType" ng-model-options="{ updateOn: 'blur' }" data-toggle="tooltip" data-placement="right" title="Interview type">
                                    <option value="">Interview type</option>
                                    <option value="volvo">Walk In</option>
                                    <option value="saab">Off Campus</option>
                                    <option value="mercedes">Online</option>

                                </select>
                            </div>
                            <!--optional widget-->
                            <div class="optional-widget cf">
                                <div class="cf pull-left" style="width:84%; word-break: break-all; height:40px;">
                                    <div class="widgetPadding cf">
                                        <!--Each Option-->
                                        <div class="pull-left firstOptn">
                                            <a data-toggle="tooltip" data-placement="top" title="Logo" ng-click="selectLogo()">
                                                <i class="fa fa-camera fa-lg"></i>
                                            </a>
                                        </div>
                                        <!--/Each Option-->
                                        <!--Each Option-->
                                        <div class="pull-left optionalBtnz">
                                            <a data-toggle="tooltip" data-placement="top" title="Apply Link"
                                               ng-click="toggle('add-link')">
                                                <i class="fa fa-link fa-lg"></i>
                                            </a>
                                        </div>
                                        <!--/Each Option-->
                                        <!--Each Option-->
                                        <div class="pull-left optionalBtnz">
                                            <a data-toggle="tooltip" data-placement="top" title="DateTime"
                                               ng-click="toggle('add-date-time')">
                                                <i class="fa fa-clock-o fa-lg"></i>
                                            </a>
                                        </div>
                                        <!--/Each Option-->
                                        <!--Each Option-->
                                        <div class="pull-left optionalBtnz">
                                            <a data-toggle="tooltip" data-placement="top" title="Add Phone"
                                               ng-click="toggle('add-phone')">
                                                <i class="fa fa-phone fa-lg"></i>
                                            </a>
                                        </div>
                                        <!--/Each Option-->
                                        <!--Each Option-->
                                        <div class="pull-left optionalBtnz">
                                            <a data-toggle="tooltip" data-placement="top" title="Experience"
                                               ng-click="toggle('add-experience')">
                                                <i class="fa fa-user-plus fa-lg"></i>
                                            </a>
                                        </div>
                                        <!--/Each Option-->

                                        <!--Each Option-->
                                        <div class="pull-left optionalBtnz">
                                            <a data-toggle="tooltip" data-placement="top" title="Job type"
                                               ng-click="toggle('add-job-type')">
                                                <i class="fa fa-wrench fa-lg"></i>
                                            </a>
                                        </div>
                                        <!--/Each Option-->

                                        <!--Each Option-->
                                        <div class="pull-left optionalBtnz">
                                            <a data-toggle="tooltip" data-placement="top" title="Interview type"
                                               ng-click="toggle('add-interview-type')">
                                                <i class="fa fa-users fa-lg"></i>
                                            </a>
                                        </div>
                                        <!--/Each Option-->

                                    </div>
                                </div>
                                <div class="cf pull-left" style="width:15%;word-break: break-all; height:40px;">
                                    <div class="widgetPadding">
                                        <center>
                                            <button class="postBtn">POST</button>
                                        </center>
                                    </div>

                                </div>
                            </div>
                            <!--/optional widget-->
                        </div>
                        <!--/Open up form-->
                    </div>
                    <div role="tabpanel" class="tab-pane sw-tablePanel-minheight" id="profile">
                        <div>
                            <div class="smartWidget-Input">
                                <select placeholder="Type of Industry" data-toggle="tooltip" data-placement="right" title="Type of Industry">
                                    <option value="">Type of Industry</option>
                                    <option value="type">IT</option>
                                    <option value="type">Health Care</option>
                                    <option value="type">Manufacturing</option>
                                </select>
                            </div>
                            <div class="smartWidget-Input">
                                <input type="text" name="fname" placeholder="Company website" data-toggle="tooltip" data-placement="right" title="Company website">
                            </div>
                            <div class="smartWidget-Input">
                                <textarea msd-elastic ng-model="aboutcompany" placeholder="About Сompany"
                                          class="abtCompanyTxtArea" data-toggle="tooltip" data-placement="right" title="About Сompany"></textarea>
                            </div>
                            <!--optional widget-->
                            <div class="optional-widget cf">
                            </div>
                            <!--/optional widget-->
                        </div>
                    </div>

                </div>
            </div>
            <!--/table panel-->
        </div>
    </div>
    <!--/Smart Input Widget-->
    <div class="row bg-color-white" style="margin-top:20px;">
        <div class="" style="width:100%;">
            <table class="table table-hover">
                <tr>
                    <td>
                        <div class="joblist-paddingLR cf">
                            <a href="#/details/2334344">
                                <div class="pull-left">
                                    <img src="assets/images/star.gif" style="width:50px; height:50px;">
                                </div>
                                <div class="pull-left" style="margin-left:4px;">
                                    <p class="fg-color-joblist" style="margin:0; padding:0; font-size:16px;">
                                        Starbucks-Data Scientist (Princeton,NJ)</p>

                                    <p class="fg-color-softgray" style="padding:0;">3 days ago</p>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class=" joblist-paddingLR cf">
                            <a href="#/details/2334344">
                                <div class="pull-left">
                                    <img src="assets/images/kfc.png" style="width:50px; height:50px;">
                                </div>
                                <div class="pull-left" style="margin-left:4px;">
                                    <p class="fg-color-joblist" style="margin:0; padding:0; font-size:16px;">KFC-Data
                                        Scientist (California,NJ)</p>

                                    <p class="fg-color-softgray" style="padding:0;">3 days ago</p>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="joblist-paddingLR cf">
                            <a href="#/details/2334344">
                                <div class="pull-left">
                                    <img src="assets/images/what.png" style="width:50px; height:50px;">
                                </div>
                                <div class="pull-left" style="margin-left:4px;">
                                    <p class="fg-color-joblist" style="margin:0; padding:0; font-size:16px;">
                                        Whatsapp-Data Scientist (New york,NY)</p>

                                    <p class="fg-color-softgray" style="padding:0;">3 days ago</p>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--Extra feed column-->
<div class="col-md-4" ng-include="'app/views/extrafeed.html'">
</div>

<div class="inner-div bg-color-white">
    <!--row-->
    <div class="row inner-div">
        <div class="col-md-12">
            <div class="searchBx">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Jobs..">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
                </div>
                <!-- /input-group -->
            </div>
        </div>
    </div>
    <!-- /row -->

</div>


<div class="inner-div bg-color-white margin-top-8px">
    <!--row-->
    <div class="row inner-div">
        <div class="col-md-12">
            <div>
                <p class="fg-color-skyblue"><strong style="font-size:16px;">15&nbsp;Filters for you</strong></p>
            </div>
            <div class="megaFilterBx">
                <div class="searchBx searchBx-marginTop8">
                    <input type="text" class="form-control" placeholder="in Location">
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <input kendo-date-time-picker placeholder="Date&Time"/>
                </div>

                <div class="searchBx searchBx-marginTop8">
                    <select placeholder="Graduation Year wise" class="form-control">
                        <option value="volvo">Graduation Year wise</option>
                        <option value="volvo">2012</option>
                        <option value="saab">2013</option>
                        <option value="mercedes">2014</option>
                        <option value="audi">2015</option>
                    </select>
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <input type="text" class="form-control" placeholder="Academic percentage/grade">
                </div>

                <div class="searchBx searchBx-marginTop8">
                    <select placeholder="Degree Name" class="form-control">
                        <option value="volvo">Degree Name</option>
                        <option value="volvo">B.Tech</option>
                        <option value="saab">MBA</option>
                        <option value="mercedes">MBBS</option>
                        <option value="audi">Diploma</option>
                    </select>
                </div>

                <div class="searchBx searchBx-marginTop8">
                    <select placeholder="interview type" class="form-control">
                        <option value="volvo">Interview type</option>
                        <option value="volvo">Walk In</option>
                        <option value="saab">Off Campus</option>
                        <option value="mercedes">Online</option>

                    </select>
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <select placeholder="Skills" class="form-control">
                        <option value="volvo">Skill wise</option>
                        <option value="volvo">Node.js</option>
                        <option value="saab">Data scientist</option>
                        <option value="mercedes">.Net</option>

                    </select>
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <select placeholder="Sector" class="form-control">
                        <option value="volvo">Sector</option>
                        <option value="volvo">govt</option>
                        <option value="saab">BPO</option>
                        <option value="mercedes">IT</option>
                        <option value="mercedes">Hardware</option>
                    </select>
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <select placeholder="Job Designation" class="form-control">
                        <option value="volvo">Job Designation</option>
                        <option value="volvo">Software developer</option>
                        <option value="saab">Data Scientist</option>

                    </select>
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <select placeholder="Skills" class="form-control">
                        <option value="volvo">Fresher</option>
                        <option value="volvo">1year</option>
                        <option value="saab">2 years</option>
                    </select>
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <select placeholder="job type" class="form-control">
                        <option value="volvo">company type</option>
                        <option value="volvo">Inter</option>
                        <option value="saab">IT</option>
                        <option value="saab">Hardware</option>
                    </select>
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <input type="text" class="form-control" placeholder="in Company">
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <select placeholder="job type" class="form-control">
                        <option value="volvo">job type</option>
                        <option value="volvo">Internship</option>
                        <option value="saab">Permanent</option>
                        <option value="saab">Contract</option>
                    </select>
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <input type="text" class="form-control" placeholder="job location">
                </div>
                <div class="searchBx searchBx-marginTop8">
                    <select placeholder="job type" class="form-control">
                        <option value="volvo">salary</option>
                        <option value="volvo">more than 30000</option>
                        <option value="saab">less than 20000</option>
                        <option value="saab">more than 50000</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
    <!-- /row -->
</div>



<!--Flipkart copy-->
<div class="inner-div bg-color-white all-filters-list" ng-show="showFiltersMenu">
    <!--row-->
    <div class="row inner-div3">
        <div class="col-md-12">
            <div>
                <p class="fg-color-black search-filter-title">LOCATION</p>
            </div>
            <div class="megaFilterBx">
                <div class="searchBx searchBx-marginTop8 cf">
                    <div style="100%;">
                        <input class="search-input" type="text"  placeholder="Search Location">
                        <i class="fa fa-search search-input-i"></i>
                        <hr class="underline">
                    </div>
                                  
                </div>
                <div class="default-vals-div">
                      <table>
                        <tr>
                            <td><input class="checkBx-input" type="checkbox" name="vehicle" value="Bike"></td>
                            <td><span class="def-vals">Hyderabad,India</span></td>
                        </tr>
                        <tr>
                            <td><input class="checkBx-input" type="checkbox" name="vehicle" value="Bike"></td>
                            <td><span class="def-vals">Hyderabad,India</span></td>
                        </tr>
                        <tr>
                            <td><input class="checkBx-input" type="checkbox" name="vehicle" value="Bike"></td>
                            <td><span class="def-vals">Hyderabad,India</span></td>
                        </tr>
                         <tr>
                            <td><input class="checkBx-input" type="checkbox" name="vehicle" value="Bike"></td>
                            <td><span class="def-vals">Hyderabad,India</span></td>
                        </tr>
                         <tr>
                            <td><input class="checkBx-input" type="checkbox" name="vehicle" value="Bike"></td>
                            <td><span class="def-vals">Hyderabad,India</span></td>
                        </tr>    
                      </table>  
                </div>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>


//Optionsla
<div class="flex-wrapper">

    <!--Filter row-->
    <div class="col-md-3 col-xs-12  filters" ng-include="'app/views/joblist/job-list-filters.html'">    
    </div>

    <div class="col-md-5 col-xs-12  posh-list" ng-init="init()">
        <!--Smart Input Widget-->
        <div class="row content-div">
            <div class="bg-color-white" style="border:1px solid #B8B8B8; width:100%; padding:0.5px;">
                <!--partial view-->
                <div ng-hide="openFullForm" ng-click="kuljaSimSim($event)">
                    <div class="smartWidget-Input">
                        <input type="text" name="fname" placeholder="Post a job here for free"
                               style="font-size:16px; color:black;">
                    </div>
                </div>
                <!--/partial view-->

                <div id="app-full-form" role="tabpanel" ng-show="openFullForm">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" ng-click="setCategory($event, 'home');"
                               aria-controls="home" role="tab" data-toggle="tab">Job</a>
                        </li>
                        <li role="presentation">
                            <a href="#profile" ng-click="setCategory($event, 'profile')"
                               aria-controls="profile" role="tab" data-toggle="tab">Company</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active sw-tablePanel-minheight" id="home">
                            <!--Open up form-->
                            <div>
                                <div class="smartWidget-Input">
                                    <input type="text" name="name" placeholder="Company Name" data-toggle="tooltip" data-placement="right" title="Company Name">
                                </div>
                                <div class="smartWidget-Input">
                                    <input type="text" name="title" placeholder="Job Title" data-toggle="tooltip" data-placement="right" title="Job Title">
                                </div>
                                <div class="smartWidget-Input">
                                    <textarea msd-elastic ng-model="description" data-toggle="tooltip" data-placement="right" title="Describe this job"
                                              placeholder="Describe this job, education,skills"></textarea>
                                </div>                               
                                <div class="smartWidget-Input" style="display: none" id="add-experience">
                                    <select placeholder="Add experience" ng-model="form.experience" ng-model-options="{ updateOn: 'blur' }" data-toggle="tooltip" data-placement="right" title="Add experience">
                                        <option value="">Add experience</option>
                                        <option value="1">1year</option>
                                        <option value="2">2 years</option>
                                    </select>

                                </div>
                                <div class="smartWidget-Input">
                                    <input type="text" name="mail" placeholder="Email" data-toggle="tooltip" data-placement="right" title="Email">
                                </div>
                                <div style="display: none" id="add-logo">
                                    <div><input type="file" id="logo-input" style="display:none"/></div>
                                    <div class="cropArea" style="display: none;">
                                        <img-crop image="myLogo" area-type="square" result-image="myCroppedLogo"></img-crop>
                                    </div>
                                    <div style="position: relative">
                                        <img id="selected-logo" style="height: 100px; margin: 5px;" ng-src="{{myCroppedLogo}}"/>
                                        <div style="position: absolute; top: 5px; left: 90px; color: #fff;" ng-click="clearLogo()">X</div>
                                    </div>
                                </div>                                
                                <div class="smartWidget-Input">
                                    <input type="text" name="location" placeholder="Walk-In Location" ng-model="postLocation"
                                           typeahead="address for address in getLocation($viewValue)" typeahead-min-length="3" typeahead-wait-ms="500" data-toggle="tooltip" data-placement="right" title="Walk In Location">
                                </div>
                                <div class="smartWidget-Input" style="display: none" id="add-link">
                                    <input type="text" name="link" placeholder="Apply Link" ng-model="form.addLink" ng-model-options="{ updateOn: 'blur' }" data-toggle="tooltip" data-placement="right" title="Apply Link">
                                </div>
                                <div class="searchBx" style="display: none" id="add-date-time" data-toggle="tooltip" data-placement="right" title="Date&Time">
                                    <input kendo-date-time-picker style="width: 100%" placeholder="Date" ng-model="form.date" ng-model-options="{ updateOn: 'blur' }"/>
                                   
                                </div>
                                <div class="smartWidget-Input" style="display: none" id="add-phone">
                                    <input type="text" name="phone" placeholder="Add Phone" ng-model="form.phone" ng-model-options="{ updateOn: 'blur' }" data-toggle="tooltip" data-placement="right" title="Add Phone">
                                </div>                               
                                <div class="smartWidget-Input" style="display: none" id="add-job-type">
                                    <select placeholder="job type" ng-model="form.jobType" ng-model-options="{ updateOn: 'blur' }" data-toggle="tooltip" data-placement="right" title="Job type">
                                        <option value="">Company type</option>
                                        <option value="volvo">Inter</option>
                                        <option value="saab">IT</option>
                                        <option value="saab">Hardware</option>
                                    </select>
                                </div>
                                <div class="smartWidget-Input" style="display: none" id="add-interview-type">
                                    <select placeholder="interview type" ng-model="form.interviewType" ng-model-options="{ updateOn: 'blur' }" data-toggle="tooltip" data-placement="right" title="Interview type">
                                        <option value="">Interview type</option>
                                        <option value="volvo">Walk In</option>
                                        <option value="saab">Off Campus</option>
                                        <option value="mercedes">Online</option>

                                    </select>
                                </div>
                                <!--optional widget-->
                                <div class="optional-widget cf">
                                    <div class="cf pull-left" style="width:81%;word-break: break-all; height:40px;">
                                        <div class="widgetPadding cf">
                                            <!--Each Option-->
                                            <div class="pull-left firstOptn">
                                                <a data-toggle="tooltip" data-placement="top" title="Logo" ng-click="selectLogo()">
                                                    <i class="fa fa-camera fa-lg post-opt-icons"></i>
                                                </a>
                                            </div>
                                            <!--/Each Option-->
                                              <!--Each Option-->
                                            <div class="pull-left optionalBtnz">
                                                <a data-toggle="tooltip" data-placement="top" title="Experience"
                                                   ng-click="toggle('add-experience')">
                                                    <i class="fa fa-user-plus fa-lg post-opt-icons"></i>
                                                </a>
                                            </div>
                                            <!--/Each Option-->
                                            <!--Each Option-->
                                            <div class="pull-left optionalBtnz">
                                                <a data-toggle="tooltip" data-placement="top" title="Apply Link"
                                                   ng-click="toggle('add-link')">
                                                    <i class="fa fa-link fa-lg post-opt-icons"></i>
                                                </a>
                                            </div>
                                            <!--/Each Option-->
                                            <!--Each Option-->
                                            <div class="pull-left optionalBtnz">
                                                <a data-toggle="tooltip" data-placement="top" title="DateTime"
                                                   ng-click="toggle('add-date-time')">
                                                    <i class="fa fa-clock-o fa-lg post-opt-icons"></i>
                                                </a>
                                            </div>
                                            <!--/Each Option-->
                                            <!--Each Option-->
                                            <div class="pull-left optionalBtnz">
                                                <a data-toggle="tooltip" data-placement="top" title="Add Phone"
                                                   ng-click="toggle('add-phone')">
                                                    <i class="fa fa-phone fa-lg post-opt-icons"></i>
                                                </a>
                                            </div>
                                            <!--/Each Option-->                                     

                                            <!--Each Option-->
                                            <div class="pull-left optionalBtnz">
                                                <a data-toggle="tooltip" data-placement="top" title="Job type"
                                                   ng-click="toggle('add-job-type')">
                                                    <i class="fa fa-wrench fa-lg post-opt-icons"></i>
                                                </a>
                                            </div>
                                            <!--/Each Option-->

                                            <!--Each Option-->
                                            <div class="pull-left optionalBtnz">
                                                <a data-toggle="tooltip" data-placement="top" title="Interview type"
                                                   ng-click="toggle('add-interview-type')">
                                                    <i class="fa fa-users fa-lg post-opt-icons"></i>
                                                </a>
                                            </div>
                                            <!--/Each Option-->

                                        </div>
                                    </div>
                                    <div class="cf pull-right" style=" width:66px;word-break: break-all; height:40px;">
                                        <div class="widgetPadding2">
                                            <center>
                                                <button ng-click="postJob()" class="postBtn">POST</button>
                                            </center>
                                        </div>

                                    </div>
                                </div>
                                <!--/optional widget-->
                            </div>
                            <!--/Open up form-->
                        </div>
                        <div role="tabpanel" class="tab-pane sw-tablePanel-minheight" id="profile">
                            <div>
                                <div class="smartWidget-Input">
                                    <select placeholder="Type of Industry" data-toggle="tooltip" data-placement="right" title="Type of Industry">
                                        <option value="">Type of Industry</option>
                                        <option value="type">IT</option>
                                        <option value="type">Health Care</option>
                                        <option value="type">Manufacturing</option>
                                    </select>
                                </div>
                                <div class="smartWidget-Input">
                                    <input type="text" name="fname" placeholder="Company website" data-toggle="tooltip" data-placement="right" title="Company website">
                                </div>
                                <div class="smartWidget-Input">
                                    <textarea msd-elastic ng-model="aboutcompany" placeholder="About Сompany"
                                              class="abtCompanyTxtArea" data-toggle="tooltip" data-placement="right" title="About Сompany"></textarea>
                                </div>
                                <!--optional widget-->
                                <div class="optional-widget cf">
                                </div>
                                <!--/optional widget-->
                            </div>
                        </div>

                    </div>
                </div>
                <!--/table panel-->
            </div>
        </div>
        <!--/Smart Input Widget-->

        <div class="row content-div" style="margin-top:20px;">
            <div class="bg-color-white" style="width:100%;">
                <table class="table table-hover">
                    <tr>
                        <td>
                            <div class="joblist-paddingLR cf">
                                <!--Job summary-->
                                <div class="pull-left cf" style="width:95%;">
                                    <a href="#/details/2334344">
                                        <div class="pull-left">
                                            <img src="assets/images/star.gif" style="width:50px; height:50px;">
                                        </div>
                                        <div class="pull-left" style="margin-left:10px;width:80%;">
                                            <div style="width:100%;">
                                                <span class="fg-color-joblist" style="margin:0; padding:0; font-size:16px;">
                                                Starbucks</span>
                                            </div>
                                            <div style="width:100%; margin-top:-1.5px;">
                                                <span class="" style="margin:0; padding:0; font-size:14px;color:black">
                                                Hacker <span style="color:black">@ San fransico,NY</span></span>
                                            </div>  
                                            
                                            <div style="width:100%;margin-top:-1.5px;">
                                                <span class="fg-color-softgray" style="margin:0; padding:0; font-size:14px;">
                                                3 Days ago</span>
                                            </div>                                  
                                        </div>
                                    </a>
                                </div>
                                <!--/Job summary-->

                                <!--Drop down menu-->
                                <div class="pull-right mdfyDrpdwn-div"> 
                                    <a class="modifybtn" ng-click="modifyJobOptions[0]=!modifyJobOptions[0]">
                                      <i class="fa fa-angle-down fg-color-softgray"></i>
                                    </a>
                                    <div ng-show="modifyJobOptions[0]" class="modify-job-opts effect1">
                                        <ul>
                                            <li>
                                                <a>Edit Info</a>
                                            </li>
                                            <li>
                                                <a>Edit Info</a>
                                            </li>                                
                                        </ul>
                                    </div>
                               </div>
                                <!--/Drop down menu-->
                                
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                           
                            <div class="joblist-paddingLR cf">
                                <!--Job summary-->
                                <div class="pull-left cf" style="width:95%;">
                                    <a href="#/details/2334344">
                                        <div class="pull-left">
                                            <img src="assets/images/kfc.png" style="width:50px; height:50px;">
                                        </div>
                                        <div class="pull-left" style="margin-left:10px;width:80%;">
                                            <div style="width:100%;">
                                                <span class="fg-color-joblist" style="margin:0; padding:0; font-size:16px;">
                                                KFC</span>
                                            </div>
                                            <div style="width:100%; margin-top:-1.5px;">
                                                <span class="" style="margin:0; padding:0; font-size:14px;color:black">
                                                Evangelist <span style="color:black">@ Hyderabad,Andhra pradesh</span></span>
                                            </div>  
                                            
                                            <div style="width:100%;margin-top:-1.5px;">
                                                <span class="fg-color-softgray" style="margin:0; padding:0; font-size:14px;">
                                                13,Friday</span>
                                            </div>                                  
                                        </div>
                                    </a>
                                </div>
                                <!--/Job summary-->

                                <!--Drop down menu-->
                                <div class="pull-right mdfyDrpdwn-div"> 
                                    <a class="modifybtn" ng-click="modifyJobOptions[1]=!modifyJobOptions[1]">
                                      <i class="fa fa-angle-down fg-color-softgray"></i>
                                    </a>
                                    <div ng-show="modifyJobOptions[1]" class="modify-job-opts effect1">
                                        <ul>
                                            <li>
                                                <a>Edit Info</a>
                                            </li>
                                            <li>
                                                <a>Edit Info</a>
                                            </li>                                
                                        </ul>
                                    </div>
                               </div>
                                <!--/Drop down menu-->
                                
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="joblist-paddingLR cf">
                                <!--Job summary-->
                                <div class="pull-left cf" style="width:95%;">
                                    <a href="#/details/2334344">
                                        <div class="pull-left">
                                            <img src="assets/images/what.png" style="width:50px; height:50px;">
                                        </div>
                                        <div class="pull-left" style="margin-left:10px;width:80%;">
                                            <div style="width:100%;">
                                                <span class="fg-color-joblist" style="margin:0; padding:0; font-size:16px;">
                                                whatsapp</span>
                                            </div>
                                            <div style="width:100%; margin-top:-1.5px;">
                                                <span class="" style="margin:0; padding:0; font-size:14px;color:black">
                                                Data Scientist <span style="color:black">@ Chicago,IL</span></span>
                                            </div>  
                                            
                                            <div style="width:100%;margin-top:-1.5px;">
                                                <span class="fg-color-softgray" style="margin:0; padding:0; font-size:14px;">
                                                5 Days ago</span>
                                            </div>                                  
                                        </div>
                                    </a>
                                </div>
                                <!--/Job summary-->

                                <!--Drop down menu-->
                                <div class="pull-right mdfyDrpdwn-div"> 
                                    <a class="modifybtn" ng-click="modifyJobOptions[2]=!modifyJobOptions[2]">
                                      <i class="fa fa-angle-down fg-color-softgray"></i>
                                    </a>
                                    <div ng-show="modifyJobOptions[2]" class="modify-job-opts effect1">
                                        <ul>
                                            <li>
                                                <a>Edit Info</a>
                                            </li>
                                            <li>
                                                <a>Edit Info</a>
                                            </li>                                
                                        </ul>
                                    </div>
                               </div>
                                <!--/Drop down menu-->
                                
                            </div>
                            
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--Extra feed column-->
    <div class="col-md-4 col-xs-12 extra-feed" ng-include="'app/views/joblist/extrafeed.html'">
    </div>
</div>



<!--Enter Phone Modal-->
<div class="modal fade" id="enterPhone">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-neutral">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Authentication</h4>
      </div>
      <div class="modal-body">
         

        <div class="modal-actual-content">
                
            <form>

              <div class="form-group">
                <label for="recipient-name" class="control-label">Enter your mobile number:</label>
                <div class="flex-siblings-wrapper">
                    <div class="flex-each-sibling">
                        <input type="text" class="form-control modalInput" id="recipient-name"> 
                    </div> 
                     <div class="flex-each-sibling" style="margin-left:2px;">
                         <button type="button" class=" btn-primary modalBtn">Send Code</button>
                    </div>                       
                </div>    
                <p style="font-size:12px;color:green;margin-left:3px;">We have successfully sent OTP to your mobile</p>               
              </div>

              <div class="form-group">
                <label for="recipient-name" class="control-label">Enter OTP:</label>
                <div class="flex-siblings-wrapper">
                    <div class="flex-each-sibling">
                        <input type="text" class="form-control modalInput" id="recipient-name"> 
                    </div> 
                     <div class="flex-each-sibling" style="margin-left:2px;">
                         <button type="button" class=" btn-primary modalBtn">Authenticate</button>
                    </div>                       
                </div>                               
              </div>

            </form>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>     
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/Enter Phone Modal-->