<!--Mobile Search Filters Toggler-->
<div class="mbl-toggler" ng-controller="jobListFilterController">
    <!--row-->
    <div class="row">
        <div class="col-md-12">
            <div class="cf">
                <p class="fg-color-white pull-left">Search Filters</p>
                <div class="pull-right">
                    <i class="fa fa-list fg-color-white" style="margin-top:5px;"></i>
                </div>
            </div>         
        </div>
    </div>
    <!-- /row -->
</div>
<!--/Mobile Search Filters Toggler-->

<div class="inner-div bg-color-white all-filters-list">
    <!--row-->
    <div class="row inner-div">
        <div class="col-md-12">
            <div>
                <p class="fg-color-softgray search-filter-title">LOCATION</p>
            </div>
            <div class="megaFilterBx">
                <div class="searchBx searchBx-marginTop8">
                    <input type="text" class="form-control" placeholder="Search Location">
                </div>
                 <div class="searchBx searchBx-marginTop8">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- /row -->
</div>