 <!--First-->
<div class="container-fluid  bg-color-mildgray" style="padding-top:14px; margin-top:20px;">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
      	<!--row-->
        <div class="row">
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Locations</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">Hyderabad</a>
        					</li>
        					<li>
        						<a href="">Mumbai</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Skills</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">Node.js</a>
        					</li>
        					<li>
        						<a href="">.Net</a>
        					</li>
        					<li>
        						<a href="">Java</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Sector</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">Govt</a>
        					</li>
        					<li>
        						<a href="">IT</a>
        					</li>
        					<li>
        						<a href="">Hardware</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Experience</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">Fresher</a>
        					</li>
        					<li>
        						<a href="">1 year</a>
        					</li>
        					<li>
        						<a href="">2 year</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Designation</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">Software Developer</a>
        					</li>
        					<li>
        						<a href="">Data Scientist</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Interview type</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">Walk in</a>
        					</li>
        					<li>
        						<a href="">Off campus</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        </div>
        <!--/row-->	
        <!--row-->
        <div class="row">
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Degree</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">B.Tech</a>
        					</li>
        					<li>
        						<a href="">Diploma</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Job type</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">Internship</a>
        					</li>
        					<li>
        						<a href="">Permanent</a>
        					</li>
        					<li>
        						<a href="">Contract</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Salary</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">more than 30000</a>
        					</li>
        					<li>
        						<a href="">more than 50000</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Campany Type</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">Start up</a>
        					</li>
        					<li>
        						<a href="">Established</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"><strong>Locations</strong></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href="">Hyderabad</a>
        					</li>
        					<li>
        						<a href="">Mumbai</a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        	<!--category box-->
        	<div class="col-md-2">
        		<div class="categoryBx">       				
        			<p class="category-name"></p>
        			<div class="category-links">
        				<ul>
        					<li>
        						<a href=""></a>
        					</li>
        					<li>
        						<a href=""></a>
        					</li>
        				</ul>		
        			</div>
        		</div>
        	</div>
        	<!--/category box-->
        </div>
        <!--/row-->
      </div>
    </div>
    </div>  
</div>

<!--Second-->
<div class="container-fluid  bg-color-black">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
        	<div class="col-md-3 cf">
        		<!--<h2 class="font-facebook fg-color-white pull-left">bullgrunt</h2>
        		<p style="margin-top:30px !important; padding-left:4px;" class="fg-color-white pull-left">@ 2015</p>-->
                <img src="assets/images/footerbrand.png" style="padding-top:15px !important;">
        	</div>
        	<div class="col-md-9">        		
        		<p class="fg-color-white" style="padding-top:37px !important;">All Rights Reserved</p>
        	</div>			
        </div>	
      </div>
    </div>
    </div>
</div>      
 